nav a {
  text-decoration: none;
  color: #494949;
}

/*Header*/
.header {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  background-color: #c8f7ea;
}

/*Footer*/

.footerBottom {
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Profile Page*/

.profile-welcome-text {
  text-align: center;
}

.profile-page-card-container {
  display: flex;
  justify-content: center;
}

.primary-button {
  background-color: #c8f7ea !important;
  color: #4bbc51 !important;
}

.second-button a {
  color: white !important;
}
